__pycache__/Basecraper.cpython-312.pyc
__pycache__/H2S_Scraper.cpython-312.pyc
__pycache__/Kamernet_Scraper.cpython-312.pyc
__pycache__/Logger.cpython-312.pyc
__pycache__/Notifier.cpython-312.pyc
__pycache__/Pararius_Scraper.cpython-312.pyc
__pycache__/Saver.cpython-312.pyc
__pycache__/Funda_Scraper.cpython-312.pyc
log/log_H2S.txt
log/log_Kamernet.txt
log/log_Pararius.txt
log/log_Funda.txt
result/hashlist_Pararius.csv
result/hashlist_Funda.csv
result/hashlist_H2S.csv
result/hashlist_Kamernet.csv
